<div class="containerLogin">
  <section id="login">
    <mat-card>
      <div class="left">
        <form [formGroup]="userToLogin" (submit)="loginUser(userToLogin.value, userToLogin.valid)">
          <div class="formControl">
            <mat-form-field appearance="outline">
              <mat-label>email</mat-label>
              <input matInput formControlName="email" type="email" placeholder="Email" appLowerCase>
              <mat-error *ngIf="userToLogin.controls['email'].errors &&
                                    ( userToLogin.controls['email'].dirty || userToLogin.controls['email'].touched)">
                <span *ngIf="userToLogin.controls['email'].hasError('required')" class="msjError">
                    </span>
                <span *ngIf="userToLogin.controls['email'].hasError('invalidEmailAddress')" class="msjError">
                    </span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="formControl">
            <mat-form-field appearance="outline">
              <mat-label>password</mat-label>
              <input #password matInput formControlName="password" type="password" placeholder="Password" appLowerCase>
              <mat-error *ngIf="userToLogin.controls['password'].errors &&
                                    ( userToLogin.controls['password'].dirty || userToLogin.controls['password'].touched)">
                <span *ngIf="userToLogin.controls['password'].hasError('required')" class="msjError">"required_field"
                    </span>
              </mat-error>
            </mat-form-field>
            <div class="d-flex justify-content-end">
            </div>
          </div>
          <button mat-raised-button [disabled]="!userToLogin.valid" type="submit" class="-fullWidth" color="primary">LOG_IN</button>
        </form>
      </div>

    </mat-card>
    <mat-divider [vertical]="true"></mat-divider>

    <div class="right">
      <img src="./assets/images/aivo.png" alt="bussness">
    </div>

  </section>
</div>