$fontOpacity: 0.87;
$activeColor: #133065;
.colT {
  width: calc(100% / 5);
  padding-right: 15px;
  &:last-child {
    padding-right: 0;
  }
}

.row-table-resources {
  // text-align: center;
  width: 100%;
  border-bottom: 1px solid #d3d3d3;
  padding: 15px;
  padding-left: 46px;
  span {
    font-size: 11px;
    opacity: $fontOpacity;
  }
  .salient-info {
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
    opacity: 1;
    margin-bottom: 5px;
  }
  .firstDate {
    margin-bottom: 15px;
  }
  .color {
    color: $activeColor;
  }
}

.bgGrey {
  background-color: #f6f6f6;
}