<mat-toolbar color="accent">
  <mat-toolbar-row class="toolbar">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="primary">
        <mat-icon>menu</mat-icon>
      </button>
    <app-panel-user></app-panel-user>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="side" opened role="navigation">
    <mat-nav-list>
      <div class="title">{{'general' | translate | uppercase}}</div>
      <div class="items">
        <mat-icon>list_alt</mat-icon>
        <a mat-list-item routerLink="/resources">{{'resources' | translate | uppercase}} </a>
      </div>
      <div class="items">
        <mat-icon>list_alt</mat-icon>
        <a mat-list-item routerLink="/resources">{{'resources' | translate | uppercase}} </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <app-header></app-header>
    <app-resources></app-resources>
  </mat-sidenav-content>
</mat-sidenav-container>