<div class="resources-content">
  <app-sub-header></app-sub-header>
  <div class="container-table-app">
    <div class="table-resources">
      <div class="header-table d-flex justify-content-between">
        <div class="colT">
          <span>USER</span>
        </div>
        <div class="colT">
          <span>ID</span>
        </div>
        <div class="colT">
          <span>TITLE</span>
        </div>
        <div class="colT">
          <span>BODY</span>
        </div>
        <div class="colT">
          <span>ACTIONS</span>
        </div>
      </div>
      <div class="body-table">
        <app-row-table *ngFor="let row of dataTable; let o = odd; let e = even;" [data]="row" (clickIcon)="clickIcon($event)" (eventPaginator)="getResources($event)" [bg]="o ? 'o' : 'e'">
        </app-row-table>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-between align-items-center" [ngClass]="{'justify-content-between':loading, 'justify-content-end': !loading}">
  <mat-spinner *ngIf="loading" [diameter]="25"></mat-spinner>
  <mat-paginator #paginator [length]="15" [pageSize]="pageSize" [hidePageSize]="true" class="paginator">
  </mat-paginator>
</div>